body {
  font-family: Arial, sans-serif;
}
.form-container {
  margin: 50px;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="date"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}
textarea {
  width: 25vw;
  height: 20vh; /* ajusta la altura según tus necesidades */
}

.custom-select {
  position: relative;
}

.custom-select button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.checklist-options {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  z-index: 1;
}

.checklist-options.open {
  display: block;
}

.checklist-item {
  margin-bottom: 5px;
}

.checklist-item label {
  display: inline-block;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.custom-file-upload input[type="file"] {
  display: none;
}
