 
 
 <form>        
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" Class="d-block">
        <input type="text" id="valor" name="nombre" placeholder="Valor" Class="d-block">

    <div class="custom-select">
        <button id="customSelectButton">Seleccionar Tiendas</button>
        <div class="checklist-options">

            <div class="checklist-item">
            <input type="checkbox" id="opcion1" name="opcion1" value="opcion1">
            <label for="opcion1">Opción 1</label>

            </div>
            <div class="checklist-item">
            <input type="checkbox" id="opcion2" name="opcion2" value="opcion2">
            <label for="opcion2">Opción 2</label>
            </div>
            <div class="checklist-item">
            <input type="checkbox" id="opcion3" name="opcion3" value="opcion3">
            <label for="opcion3">Opción 3</label>
            </div>
    <!-- Añade más opciones si es necesario -->
        </div>
    </div>





        <select id="opciones" name="opciones"  Class="d-block">
            <option value="" disabled selected>Seleccione el tipo de cupon</option>
            <option value="porcentaje">Porcentaje</option>
            <option value="descuento">Descuento</option>
        </select>

        <label for="fecha">fecha de inicio:</label>
        <input type="date" id="fechainicio" name="fecha">
        <label for="fecha">fecha de finalizacion:</label>
        <input type="date" id="fechafinal" name="fecha" class="d-block">
        <textarea id="miTextarea" maxlength="50" placeholder="Descripcion..."></textarea>
        <input type="text" id="cantidad" name="nombre" placeholder="cantidad de cupones" Class="d-block">
        <input type="text" id="acumulable" name="nombre" placeholder="Numerodeacumulables" Class="d-block">
        <input type="text" id="Valorminimo" name="nombre" placeholder="Valorminimo" Class="d-block">
        <input type="text" id="Valormaximo" name="nombre" placeholder="Valormaximo" Class="d-block">
        <input type="file" name="imageFile" />
        
   

    </form>
    <script src="~/js/generar.js"></script>